* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  object-fit: cover;
}
body {
  background: #000;
  color: #fff;
}
.content {
  max-width: 500px;
  width: 90%;
  margin-inline: auto;
  min-height: 100vh;
  border: 2px solid red;
}
